<!DOCTYPE html>
<html lang="cs">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet"
              href="{% static 'css/bootstrap.min.css' %}"
              type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Projekt Pojišťovna</title>
    </head>
    <body>
        <nav>
        <div class="flex_box">
            <div class="logo">
                <!-- Vložte kód pro vaše logo -->
            </div>
            <div class="nav_item"><a href="{% url 'insured_index' %}">Pojištěnci</a></div>
            {% comment %} <div class="nav_item"><a href="{% url 'insurance_index' %}">Pojištění</a></div> {% endcomment %}
            {% comment %} <div class="nav_item"><a href="{% url 'events_index' %}">Události</a></div>
            <div class="nav_item"><a href="{% url 'about' %}">O aplikaci</a></div> {% endcomment %}
            <div class="user-actions">
                <!-- Vložte kód pro přihlášení a registraci -->
            </div>
        </div>
        </nav> 
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            Vyrobila Markéta
        </footer>
    </body>
</html>
